<div class="container p-0">
  <!--card-main-->
  <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
    <div class="container-wrapper">
      <!--CARD-1-->
      <div *ngIf="notices">
        <div class="custom-grid col-lg-4 col-md-6 col-sm-4 col-xs-12" *ngFor="let notice of notices;let i =index;">
          <a (click)="showDetailedNotice(notice.id)" class="pointer">
            <div class="card-wrapper">
              <div [class]="cardHeaderClasses[i%6]">
                {{notice.title}}</div>
              <div class="card-inner">
                <div class="ql-editor preview ellipsis" data-ellipsis="5" [innerHTML]="(notice.description.length>175)? (notice.description |
                slice:0:175)+'...':(notice.description) "></div>
              </div>
              <div class="card-footer">
                <span class="post-user"><img *ngIf="notice.profilePic" src={{notice.profilePic}}>
                  <img *ngIf="!notice.profilePic" src="../../../assets/img/avtar/profile_icon_big.png"></span>
                <ul>
                  <li class="post-user-name">{{notice.createdby}}</li>
                  <li><span class="text-bold">Time:</span> {{notice.creationdate | date:'shortTime'}} </li>
                  <li><span class="text-bold">Date:</span> {{notice.creationdate | date:'shortDate'}}</li>
                </ul>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!--CARD-1-END-->

    <div class="col-xs-12" *ngIf="pages">
      <a *ngIf="!(currentPage == pages)" (click)="nextPage()" class="btn custombtn">Load more</a>
      <span *ngIf="(currentPage == pages)"><b>No more notices to load....</b></span>
    </div>
    <!--CARD-6-END-->
  </div>
  <!--card-main--END-->

  <!--EVENTS-->
  <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
    <div class="col-xs-12">
      <div class="event-header"> <i class="fa fa-calendar" aria-hidden="true"></i> Upcoming Events</div>
      <div class="cstscrollbar">
        <ul class="event-list" *ngIf="events.length">
          <li [class]="eventHeaderClasses[i%5]" *ngFor="let event of events;let i =index;" [routerLink]="['/','noticeDetailed',event.id]">
            <!-- <a [routerLink]="['/','noticeDetailed',event.id]"> -->
            <span class="event-images"><img *ngIf="event.profilePic" src={{event.profilePic}}>
              <img *ngIf="!event.ProfilePic" src="../../../assets/img/avtar/profile_icon_big.png">
            </span>
            <h4>{{event.title}}</h4>
            <p class="ellipsis" data-ellipsis="2">
              Description
            </p>
            <span class="date">
              {{event.start | date:'short'}}
            </span>
          </li>
        </ul>
        <ul class="event-list" *ngIf="!events.length">
          <li class="border-red">
            <b>No Upcoming Events</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="fab" (click)="addNotice()">+</div>
  <!--EVENTS-END-->
</div>